*{
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;*/
  
}
ul.nav-list{
  background: #008cb4;
  height: 10%;
  text-align: right; 
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.nav-item{
  font-weight: bold;
  display: inline;
  margin: 15px;
  /* background-color: none; */
  
  
}
  .nav-item a{
    
    text-decoration: none;
    color: #232323;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: large;
    padding: 15px 30px;
    border: 2px solid; 
    border-radius: 70px;
    background-color: #edecf0;
    
  }
footer{
  text-align: center;
  background: #008cb4;
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding-top: 8px;
  padding-bottom: 8px;
}
body{
  background:url("images/AboutUs.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
.contact-form{
  /*width: 85%; */
  max-width: 600px;
  background: #d6d6d6;
  position: absolute;
  /*top: 50%;
  left: 50% */
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  top: 50%;
  left: 60%;
  
}
.form{
  /* border: 1px solid;*/ /* #d6d6d6; */
  margin: 7px 0px;
  padding: 6px 20px;
  border-radius: 8px;
}
.contact-form h1{
  /*font-weight: heavy; */
  margin-top: 0px;
  font-family: Copperplate, Papyrus, fantasy;
}
.form label{
  font-size: 13px;
  display: block;
  text-align: left;
  font-family: Copperplate, Papyrus, fantasy;
}
.form input, .form textarea{
  width: 100%;
  font-size: 19px;
  margin-top: 5px;
  border: none;
  outline: none;
  
   
}
.button{
  font-family: Copperplate, Papyrus, fantasy;
  text-decoration: none;
  
}