*{
  padding: 0;
  margin: 0;
  
}
ul.nav-list{
  background: #008cb4;
  height: 10%;
  text-align: right; 
  padding-top: 15px;
  padding-bottom: 15px;
 }
  
  
.nav-item{
  font-weight: bold;
  display: inline-block;
  margin: 15px;
  /* background-color: none; */
   /* display: flex; */
 /* display: float;*/

  
  
}
  .nav-item a{
    
    text-decoration: none;
    color: #232323;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: large;
    padding: 15px 30px;
    border: 2px solid; 
    border-radius: 70px;
    background-color: #edecf0;
    
  }


 
    
  
footer{
  text-align: center;
  background: #008cb4;
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding-top: 8px;
  padding-bottom: 8px;
  
}


body {
    margin: 0;
    padding: 0;
}

.content{
  position: absolute;
  top: 50vh;
  left: 30%;
  width: 60%;
  text-align: center;
  background-color: #ebebeb
 
}
.content h1{
  font-size: 60px;
  font-family: Copperplate, Papyrus, fantasy;
  border-style: hidden;
  

   
  
}
.hr{
  margin-top: 30px;
  width: 30%;
  height: 8px;
  background: #006d8f
}
.content p{
  margin-top: 30px;
  font-size: 20px;
  font-family: Copperplate, Papyrus, fantasy;
  border-style: hidden;
  
}
/*.button{
  margin-top: 40px;
  background-color: #74a7fe
  border: none;
  outline: none;
  letter spacing: .1em;
  font-size: 20px;
  padding: 30px 30px;*/

  
}
img{
  position: absolute;
   
}
.aboutbtn{
  display: flex;
 /* display: float;*/
  text-decoration: none;
  color: white;
  border: 3px solid whitesmoke;
  padding: 12px 34px;
  font-size: 20px;
  background: black;
  position: absolute;
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  border-radius: 30px;
  
}
.aboutbtn:hover{
  background: transparent;
}


